body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
}

/* Basic styles for the navigation bar */
header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: blue;
    text-decoration: none;
}

/* Style the image grid in the gallery */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-grid img {
    max-width: 100%;
    height: auto;
    block-size: 175px;
    padding-bottom: 5%;
}

* {
    background-color: olivedrab;
    font-style: italic;
    font-weight: 1000;
}

body {
    text-align: center;
}

div {
    border-style: groove;
    border-width: 10px;
    border-color: darkviolet;
}

#desc_sale {
    margin: 40px;
    font-size: xx-large;
    color: white;
}
